/* Estilos para el dropdown de usuario */

.usuario-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-trigger {
  cursor: pointer;
  padding: 5px;
}

.dropdown-trigger:hover {
  color: var(--color-yellow-2);
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: var(--color-grey-2);
  z-index: 1;
  right: -2rem;
  top: 2rem;
  min-width: 160px;
  padding: 5px 0;
  border-radius: 4px;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu li a {
  color: var(--color-grey-5);
  padding: 12px 16px;
  display: block;
  cursor: pointer;
  white-space: nowrap;
}

.dropdown-menu li a:hover {
  color: var(--color-yellow-2); 
  background-color: var(--color-grey-1);
}