.serie-detalle-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.fila {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  width: 100%;
}

.fila>* {
  flex: 1;
  min-width: 0;
}

.columna {
  padding: 10px;
  overflow-wrap: break-word;
}

#fila-1 {
  display: flex;
  justify-content: space-between;
}

#fila-1>* {
  flex: none;
}

#columna-2-1 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex: none;
}

#columna-2-1>* {
  flex: none;
}

#columna-2-1-2 {
  flex: 2;
  min-width: 300px;
  margin-left: 20px;
}

#fila-4 {
  display: flex;
  justify-content: center;
}

#fila-4>* {
  flex: 1;
  max-width: 100%;
}

.poster {
  width: 250px;
  height: 375px;
  object-fit: cover;
}

h1 {
  font-size: 30px;
  color: var(--color-yellow-2);
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.serie-info {
  font-size: 16px;
  margin-bottom: 10px;
}

.info-item {
  margin-bottom: 15px;
}

.info-item>* {
  display: flex;
}

.plataformas {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.plataforma>img {
  height: 60px;
  width: 60px;
}

.reparto {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.card-grid-small {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
}

.comentarios-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.serie-detalle-temporadas {
  color: var(--color-grey-3);
  font-size: 1.1em;
  margin-bottom: 10px;
}

.serie-detalle-anio {
  color: var(--color-grey-3);
  font-size: 1.2em;
  margin-bottom: 15px;
}

.emision-info {
  display: flex;
}

#listaSeleccionadaSerie {
  width: 200px;
  max-width: 100%;
  padding: 8px;
  border: 1px solid var(--color-grey-3);
  border-radius: 4px;
  background-color: var(--color-grey-2);
  color: var(--color-grey-5);
}
