<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <footer th:fragment="footer">
      <div class="footer-container-1">
        <div class="footer-container-2">
          <div>
            <a href="#">Sobre Nosotros</a>
            <a href="#">Contacto</a>
            <a href="#">Legal</a>
          </div>
          <div>
            <p>© 2025 WatchList. Todos los derechos reservados.</p>
          </div>
          <div>
            <a href="#">X</a>
            <a href="#">Instagram</a>
            <a href="#">Facebook</a>
            <a href="#">YouTube</a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
