* {
  color: var(--color-grey-5);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;

  /* Para Firefox Scrollbar */
  scrollbar-width: thin;
  scrollbar-color: var(--color-grey-3) var(--color-grey-2);
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-grey-1);
}

a {
  color: var(--color-grey-5);
}

a:hover {
  color: var(--color-yellow-2);
}
