<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
  th:replace="~{_layout :: html(~{::title}, ~{::section_content}, ~{}, ~{})}">

<head>
  <title th:text="${pageTitle} + ' - WatchList'">Redes Sociales - WatchList</title>
</head>

<body>
  <th:block th:fragment="section_content">
    <div class="container">
      <section class="about-us-section" style="text-align: center;">
        <h1>Nuestras Redes Sociales</h1>
        <p>
          Gracias por interesarte por nuestras redes sociales, pero aún no tenemos cuenta en ninguna.
        </p>
      </section>
    </div>
  </th:block>
</body>

</html>
