<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
  th:replace="~{_layout :: html(~{::title}, ~{::section}, ~{::pageCss}, ~{::pageScript})}">

<!--
    formulario de lista
    permite crear nuevas listas o editar listas existentes
-->

<head>
  <!-- título dinámico según acción -->
  <title th:text="${lista.id == null ? 'Crear Nueva Lista' : 'Editar Lista'} + ' - WatchList'">Crear Nueva Lista -
    WatchList</title>
  <th:block th:fragment="pageCss">
    <link rel="stylesheet" th:href="@{/css/forms.css}" />
  </th:block>
</head>

<body>
  <!-- contenido principal -->

    <section th:fragment="section">
        <div class="center-container">
      <h1 th:text="${lista.id == null ? 'Crear Nueva Lista' : 'Editar Lista'}">Crear Nueva Lista</h1>

      <div th:if="${error}" class="alert alert-danger" role="alert">
        <p th:text="${error}"></p>
      </div>
      <form th:action="${lista.id == null ? '/listas/crear' : '/listas/' + lista.id + '/editar'}" th:object="${lista}"
        method="post" class="watchlist-form">
        <input type="hidden" th:field="*{id}" />
        <div class="form-group">
          <label for="titulo">Título de la Lista:</label>
          <input type="text" id="titulo" th:field="*{titulo}" class="form-control" required />

          <div th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}" class="text-danger">
            Error en el título
          </div>
        </div>
        <div class="form-group" style="display: flex; gap: 10px;">
          <label for="esPublica" class="form-check-label">¿Hacer esta lista pública? </label>
          <input type="checkbox" id="esPublica" th:field="*{esPublica}" class="form-check-input" />
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-small btn-green">
            <span th:text="${lista.id == null ? 'Crear Lista' : 'Guardar Cambios'}">Crear Lista</span>
          </button>
          <a th:href="@{/listas(filtro='mis-listas')}" class="btn btn-small btn-red">Cancelar</a>
        </div>
      </form>
      </div>
    </section>
  <th:block th:fragment="pageScript"></th:block>
</body>

</html>
